# игнорирование папки инструментов
node_modules/
#Игнорирование папки автоматически генерируемых файлов
public_html/js/tmpl/
#Игнорирование папки с байт-кодом
target
.idea/workspace.xml
.idea/tasks.xml
#Логи проверки покрытия тестов java
coverage-error.log
#Sass
.sass-cache/
public_html/css/*.map
public_html/css/gen-css
public_html/css/main.css
public_html/css/main.min.css
#Хз что это, но там его быть не должно
public_html/*.tml
public_html/js/build.js
public_html/js/build.min.js
public_html/js/build
production
out