$color-light: #F0D394;
$color-light-dark: #98651E;
$color-dark-light: #6E4B1F;
$color-dark: #533710;
$border-color: #000;

$width-button: 250px;

$padding-margin--top-bottom: 5px;
$padding-margin--left-right: 10px;