@import 'config';

.main-menu{
    width: $width-button;
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item{
        display: block;
        margin-bottom: -1px;
        padding: 8px 14px;
        color: $color-light;
        text-decoration: none;
        border: 1px solid $border-color;
    }
    
}