@import 'config';

body {
    background-color: $color-dark;
    color: $color-light;
    font-family: Comic Sans, Comic Sans MS, cursive; 
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    min-width: 720px;
}

.page {
    width: 100%;
    text-align: center;
}



.default-hidden{
    display: none;
}

.game-info-status-flags{
    border: solid 1px #000;
}

.game-info-status-flags td{
    width: 30px;
}

.game-info__ability-status{
    border: 1px #000 solid;
}

.game-info__ability-status td{
    border-left: 1px solid #000;
    min-width: 95px;
    max-width: 95px;
}