@import 'config';

.game-map{
    position: relative;

    & canvas{
        position: absolute;
        left: 0px;
        top: 0px;
    }
}

.ability{
    border: solid #000 1px;
    border-right: none;
    float: left;
}

.abilities-status__ability_number-0{
    border-right: solid #000 1px;
}

.pressZ{
    float: left;
}

.game-info-status-flags{
    float: right;
}