@import 'config';

.page-title{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
    
    &__name{
        font-size: x-large;
    }
    
    &__page{
        font-size: large;
    }
}